<div class="container">

    <h2>container fisso</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex eaque nesciunt laudantium modi rem vel dolorem quaerat illum velit neque expedita, explicabo esse earum fugit totam adipisci natus placeat accusamus.</p>
</div>


<div class="container-fluid">

    <h2>container fluido</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia iure tempore consectetur eveniet nisi alias expedita provident! Ipsam molestiae nisi quae accusamus optio itaque natus eaque neque quam, aut fugit.</p>
</div>


<div class="container-lg">

    <h2>container responsive a partire da lg</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia iure tempore consectetur eveniet nisi alias expedita provident! Ipsam molestiae nisi quae accusamus optio itaque natus eaque neque quam, aut fugit.</p>
</div>
