<h1>direttive di attributo, riferimenti, content projection, pipes</h1>
<h2>direttive di attributo
    <button (click)="mostraDirettiva()">mostra</button>
</h2>
<app-direttive *ngIf="direttive"></app-direttive>
<h2>content projection
    <button (click)="mostraContent()">mostra</button>
</h2>
<app-content-projection *ngIf="content"></app-content-projection>


<h2>template variables
    <button (click)="mostraTemplate()">mostra</button>
</h2>
<app-template-variables *ngIf="template"></app-template-variables>



<h2>Pipes
    <button (click)="mostraPipes()">mostra</button>
</h2>
<app-esempi-pipes *ngIf="pipes"></app-esempi-pipes>