<h2>Operatori</h2>
<div class="row">
    <div class="col">
        <h3>Map</h3>

        <p>
            Introduzione <button (click)="esempio1()" class="btn btn-outline-success">avvia</button>
        </p>

        <p>
            Cambio tipo di dato <button (click)="esempio2()" class="btn btn-outline-success">avvia</button>
        </p>

        <p>
            Map consecutive <button (click)="esempio3()" class="btn btn-outline-success">avvia</button>
        </p>
    </div>
    <div class="col">
        <h3>Tap</h3>
        <p>
            Controllo valori <button (click)="esempio4()" class="btn btn-outline-success">avvia</button>
        </p>
        <p>
            Controllo iterativo <button (click)="esempio5()" class="btn btn-outline-success">avvia</button>
        </p>
    </div>
    <div class="col">
        <h3>Take e Skip</h3>
        <p>
            Take <button (click)="esempio6()" class="btn btn-outline-success">avvia</button>
        </p>
        <p>
            Skip <button (click)="esempio7()" class="btn btn-outline-success">avvia</button>
        </p>
        <p>
            Skip e Take <button (click)="esempio8()" class="btn btn-outline-success">avvia</button>
        </p>
    </div>
</div>