<h2>Observable</h2>
<div class="row">
    <div class="col">
        <h3>Introduzione agli observables</h3>
        <button (click)="esempio1()" class="btn btn-outline-success">avvia</button>

        <h3>Funzioni</h3>
        <button (click)="esempio2()" class="btn btn-outline-success">avvia</button>

        <h3>Subscription</h3>
        <button (click)="esempio3(0)" class="btn btn-outline-success">avvia</button>
        <button (click)="esempio3(1)" class="btn btn-outline-danger">ferma</button>

        <h3>Observable da array</h3>
        <button (click)="esempio4()" class="btn btn-outline-success">avvia</button>

        <h3>Osservazione di eventi</h3>
        <button (click)="esempio5(0)" class="btn btn-outline-success">avvia</button>
        <button (click)="esempio5(1)" class="btn btn-outline-danger">ferma</button>

        <h3>Sequenze di numeri</h3>
        <button (click)="esempio6()" class="btn btn-outline-success">avvia</button>
    </div>
</div>