<div class="container">
    <h2>Collegamenti</h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores tempore praesentium, <a href="">eligendi
            excepturi est</a> quasi deleniti molestiae repellendus modi iste exercitationem ducimus error veniam
        repellat sit rem, ab, eveniet eius.
    </p>

    <h3>Barra di navigazione con link</h3>
    <nav class="nav">
        <a href="" class="nav-link">home</a>
        <a href="" class="nav-link">azienda</a>
        <a href="" class="nav-link">prodotti</a>
        <a href="" class="nav-link">contatti</a>
    </nav>
    <ul class="nav">
        <li class="nav-item">
            <a href="" class="nav-link">home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">azienda</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">prodotti</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">contatti</a>
        </li>
    </ul>

    <h2>Pulsanti</h2>

    <h3>Link come pulsanti</h3>
    <p>
        <a href="">link normale</a>
        <a href="" class="btn bg-primary text-light">link pulsante</a>
        <a href="" class="btn btn-primary">link pulsante</a>
    </p>

    <h3>Pulsanti di form</h3>
    <p>
        <input type="button" value="clicca qui">
        <input type="button" value="clicca qui" class="btn btn-secondary">
    </p>

    <h3>Button</h3>
    <p>
        <button>clicca qui</button>
        <button class="btn btn-info">clicca qui</button>
    </p>

    <h3>Dimensioni pulsanti</h3>
    <p>
        <button class="btn btn-info btn-sm">piccolo</button>
        <button class="btn btn-info">normale</button>
        <button class="btn btn-info btn-lg">piccolo</button>
    </p>

    <div class="w-25 border border-2 border-primary d-grid">
        <h4>Pulsanti blocco</h4>
        <button class="btn btn-info btn-block">clicca</button>
    </div>

    <h3>Pulsanti outline</h3>
    <p>
        <button class="btn btn-info">normale</button>
        <button class="btn btn-outline-danger">outline</button>
    </p>

    <h3>Gruppi di pulsanti</h3>
    <div class="btn-group">
        <button class="btn btn-info">uno</button>
        <button class="btn btn-danger">due</button>
        <button class="btn btn-primary">tre</button>
    </div>


</div>