<div class="container">
    <h2>Cards</h2>

    <h3>Solo testo</h3>
    <div class="card">
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id nemo quae
            ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt dolor.
        </div>
    </div>

    <h3>Dimensione specifica</h3>
    <div class="card w-50">
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id nemo quae
            ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt dolor.
        </div>
    </div>

    <h3>Più contenuti</h3>
    <div class="card w-50">
        <div class="card-body">
            <h4 class="card-title">Titolo</h4>
            <h5 class="card-subtitle">Sottotitolo</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id nemo
                quae
                ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt dolor.
            </p>
        </div>
    </div>

    <h3>Suddivisione in zone</h3>
    <div class="card w-50">
        <div class="card-header">
            La mia card
        </div>
        <div class="card-body">
            <h4 class="card-title">Titolo</h4>
            <h5 class="card-subtitle">Sottotitolo</h5>
            <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id nemo
                quae
                ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt dolor.
            </p>
        </div>
        <div class="card-footer text-end">
            Andrea
        </div>
    </div>

    <h3>Card group (per affiancare card)</h3>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id nemo
                quae
                ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt dolor.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id nemo
                quae
                ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt dolor.
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id nemo
                quae
                ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt dolor.
            </div>
        </div>
    </div>

    <h3>Card incolonnate</h3>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Card 1</div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id
                    nemo
                    quae
                    ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt
                    dolor.
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Card 2</div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id
                    nemo
                    quae
                    ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt
                    dolor.
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">Card 3</div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id
                    nemo
                    quae
                    ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt
                    dolor.
                </div>
            </div>
        </div>
    </div>

    <h3>Card con immagini</h3>
    <div class="card w-50">
        <img src="assets/img/foto2.jpg" alt="" class="card-img-top">
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id
            nemo
            quae
            ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt
            dolor.
        </div>
    </div>


    <div class="card w-50">
        <img src="assets/img/foto3.jpg" alt="" class="card-img-top">
        <div class="card-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ullam in molestiae voluptatem id
            nemo
            quae
            ipsum placeat optio nisi consectetur, ab numquam necessitatibus nihil incidunt, porro sint sunt
            dolor.
        </div>
    </div>



</div>