<div class="container">
    <h2>Nav</h2>

    <h3>Nav normale</h3>
    <div class="nav">
        <a href="" class="nav-link">uno</a>
        <a href="" class="nav-link">due</a>
        <a href="" class="nav-link">tre</a>
        <a href="" class="nav-link">quattro</a>
    </div>

    <h3>Nav centrata</h3>
    <div class="nav justify-content-center">
        <a href="" class="nav-link">uno</a>
        <a href="" class="nav-link">due</a>
        <a href="" class="nav-link">tre</a>
        <a href="" class="nav-link">quattro</a>
    </div>

    <h3>Nav distribuita</h3>
    <div class="nav nav-fill">
        <a href="" class="nav-link">uno</a>
        <a href="" class="nav-link">due</a>
        <a href="" class="nav-link">tre</a>
        <a href="" class="nav-link">quattro</a>
    </div>

</div>