<div class="container">
    <h2>Visibilità</h2>

    <h3>Mostrare elementi in base al breakpoint</h3>
    <p class="d-none d-sm-block">Paragrafo visibile da sm in poi</p>
    <p class="d-none d-md-block">Paragrafo visibile da md in poi</p>
    <p class="d-none d-lg-block">Paragrafo visibile da lg in poi</p>
    <p class="d-none d-xl-block">Paragrafo visibile da xl in poi</p>
    <p class="d-none d-xxl-block">Paragrafo visibile da xxl in poi</p>

    <h3>Nascondere gli elementi in base al breakpoint</h3>
    <p class="d-sm-none">Paragrafo visibile soltanto in XS</p>
    <p class="d-none d-sm-block d-md-none">Paragrafo visibile soltanto in SM</p>
    <p class="d-none d-md-block d-lg-none">Paragrafo visibile soltanto in MD</p>
    <p class="d-none d-lg-block d-xl-none">Paragrafo visibile soltanto in LG</p>
    <p class="d-none d-xl-block d-xxl-none">Paragrafo visibile soltanto in XL</p>
    <p class="d-none d-xxl-block">Paragrafo visibile soltanto in XXL</p>
</div>