<div class="card" *ngIf="post">
    <div class="card-body">
        <h4 class="card-title">Dettaglio post {{post.id}}</h4>
        <h5 class="card-subtitle">{{post.title}}</h5>
        <p class="card-text">
            {{post.body}}
        </p>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary" routerLink="/posts/{{post.id}}/modifica">
                modifica
            </button>
            <button type="button" class="btn btn-primary" (click)="elimina()">
                elimina
            </button>
            <button type="button" class="btn btn-primary" routerLink="/posts">
                torna all'elenco
            </button>
        </div>
    </div>
</div>