<div class="container">
  <h1>bootstrap demo</h1>
  <p>indice dei contenuti</p>


  <ul>
    <li><a routerLink="container">container</a></li>
    <li><a routerLink="colonne">colonne</a></li>
    <li><a routerLink="visibilita">visibilita</a></li>
    <li><a routerLink="colori">colori</a></li>
    <li><a routerLink="bordi">bordi</a></li>
    <li><a routerLink="allineamento">allineamento</a></li>
    <li><a routerLink="spaziature">spaziature</a></li>
    <li><a routerLink="disposizione">disposizione</a></li>
    <li><a routerLink="img">immagini</a></li>
    <li><a routerLink="testi">testi</a></li>
    <li><a routerLink="tabelle">tabelle</a></li>
    <li><a routerLink="collegamenti">collegamenti</a></li>
    <li><a routerLink="badge">badge</a></li>
    <li><a routerLink="liste">liste</a></li>
    <li><a routerLink="alert">alert</a></li>
    <li><a routerLink="card">card</a></li>
    <li><a routerLink="colonne-avanzate">colonne avanzate</a></li>
    <li><a routerLink="dropdown">dropdown</a></li>
    <li><a routerLink="nav">nav</a></li>
    <li><a routerLink="navbar">navbar</a></li>
  </ul>
</div>

<router-outlet></router-outlet>