<h2>Template Driven Forms</h2>

<div class="row">
    <div class="col">
        <h3>Form Utente</h3>
        <form #formUtente="ngForm">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" name="nome" id="nome" required class="form-control mb-3" 
            [(ngModel)]="dati.nome">

            <label for="nome" class="form-label">Cognome</label>
            <input type="text" name="cognome" class="form-control mb-3" 
            [(ngModel)]="dati.cognome">

            <fieldset class="mb-3">
                <legend>Interessi</legend>
                <div class="form-check form-check-inline">
                    <input type="checkbox" name="intviaggi" id="intviaggi" value="viaggi" class="form-check-input"
                        [(ngModel)]="dati.intviaggi">
                    <label for="intviaggi" class="form-check-label">Viaggi</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" name="intmusica" id="intmusica" value="musica" class="form-check-input"
                        [(ngModel)]="dati.intmusica">
                    <label for="intmusica" class="form-check-label">Musica</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" name="intcibo" id="intcibo" value="cibo" class="form-check-input"
                        [(ngModel)]="dati.intcibo">
                    <label for="intcibo" class="form-check-label">Cibo</label>
                </div>
            </fieldset>

            <fieldset class="mb-3">
                <legend>Laurea</legend>
                <div class="form-check">
                    <input type="radio" name="laurea" id="laureasi" value="si" class="form-check-input"
                        [(ngModel)]="dati.laurea">
                    <label for="laureasi" class="form-check-label">SI</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="laurea" id="laureano" value="no" class="form-check-input" checked
                        [(ngModel)]="dati.laurea">
                    <label for="laureano" class="form-check-label">NO</label>
                </div>
                <div class="form-check">
                    <input type="radio" name="laurea" id="laureaquasi" value="quasi" class="form-check-input"
                        [(ngModel)]="dati.laurea">
                    <label for="laureaquasi" class="form-check-label">In attesa di proclamazione</label>
                </div>
            </fieldset>

            <label for="esperienza" class="form-label">Livello di esperienza</label>
            <select name="esperienza" id="esperienza" class="form-select mb-3" 
            [(ngModel)]="dati.esperienza">
                <option value="junior">Fino a 3 anni</option>
                <option value="senior">Oltre 3 anni</option>
            </select>

            <label for="commenti" class="form-label mb-3">Lasciaci un commento</label>
            <textarea name="commenti" id="commenti" cols="30" rows="10" class="form-control"
                [(ngModel)]="dati.commenti">
            </textarea>

            <input type="submit" value="invia" class="btn btn-primary">
            <input type="reset" value="cancella" class="btn btn-warning">
        </form>
    </div>
    <div class="col">
        <h3>Dati del form</h3>
        <!-- Text in a <pre> element is displayed in a fixed-width font, and the text preserves both spaces and line breaks. 
        The text will be displayed exactly as written in the HTML source code. -->
        <pre>
            <!-- json ci permette di visualizzare l'oggetto, senza visualizzeremmo [object Object] -->
            {{dati | json}}
        </pre>
        <h3>Dati del model</h3>
        <pre>
            {{datiModel | json}}
        </pre>
        <h3>Stato del form</h3>
        <ul>
            <!-- ci stiamo riferendo a <form #formUtente="ngForm"> -->
            <li>Form touched: {{formUtente.touched}}</li>
            <li>Form dirty: {{formUtente.dirty}}</li>
            <li>Form valid: {{formUtente.valid}}</li>
        </ul>
    </div>
</div>