<div class="container">
    <h2>Colonne avanzate</h2>
    <h3>Offset fisso</h3>
    <div class="row">
        <div class="col-3">
            Box uno
        </div>
        <div class="col-4 offset-1">
            Box due
        </div>
        <div class="col-3 offset-1">
            Box tre
        </div>
    </div>
    <h3>Offset responsive</h3>
    <div class="row">
        <div class="col-3">
            Box uno
        </div>
        <div class="col-4 offset-lg-1">
            Box due
        </div>
        <div class="col-3 offset-lg-1">
            Box tre
        </div>
    </div>

    <h3>Row columns</h3>
    <!-- con la classe row-cols-number disimpegniamo la classe col dallo specificare il numero -->
    <!-- in questo caso 2 per ogni riga -->
    <div class="row row-cols-2">
        <div class="col">
            Box 1
        </div>
        <div class="col">
            Box 2
        </div>
        <div class="col">
            Box 3
        </div>
        <div class="col">
            Box 4
        </div>
    </div>

    <h3>Colonne annidate</h3>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    Box 1.1
                </div>
                <div class="col">
                    Box 1.2
                </div>
            </div>
        </div>
        <div class="col">
            Box 2
        </div>
    </div>

    <h3>Margini automatici</h3>
    <div class="row">
        <div class="col-3">
            Box 1
        </div>
        <div class="col-3 me-auto">
            Box 2
        </div>
        <div class="col-3">
            Box 3
        </div>
    </div>

    <h3>Altezze percentuali</h3>
    <div class="row" style="height:200px;">
        <div class="col h-25">uno</div>
        <div class="col h-50">due</div>
        <div class="col h-75">tre</div>
    </div>

</div>