<div class="container">
    <h2>Dropdown</h2>
    <h3>Dropdown semplice</h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
            Prodotti
        </button>
        <div class="dropdown-menu">
            <a href="" class="dropdown-item">Televisori</a>
            <a href="" class="dropdown-item">Lavatrici</a>
            <a href="" class="dropdown-item">Asciugacapelli</a>
        </div>
    </div>

    <h3>Dropdown personalizzato</h3>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
            Prodotti
        </button>
        <div class="dropdown-menu">
            <h4 class="dropdown-header">Elettrodomestici</h4>
            <a href="" class="dropdown-item">Televisori</a>
            <a href="" class="dropdown-item active">Lavatrici</a>
            <a href="" class="dropdown-item">Asciugacapelli</a>
            <h4 class="dropdown-header">Informatica</h4>
            <a href="" class="dropdown-item">Notebook</a>
            <a href="" class="dropdown-item">PC Desktop</a>
        </div>
    </div>

</div>