<h2>elenco recensioni per il prodotto
    <button (click)="attivaModifiche()">
        {{modifiche ? 'disattiva' : 'attiva le modifiche'}}
    </button>
</h2>

<table>
    <tr>
        <th>codice</th>
        <th>autore</th>
        <th>testo</th>
        <th>punteggio</th>
        <th *ngIf="modifiche">modifiche</th>
    </tr>
    <tr *ngFor="let r of recensioni">
        <td>{{r.codice}}</td>
        <td>{{r.autore}}</td>
        <td>{{r.testo}}</td>
        <td>{{r.punteggio}}</td>
        <td *ngIf="modifiche">
            <button (click)="modifica(r)">modifica</button>
        </td>
    </tr>
</table>


<p>
    <button (click)="attivaInserimento()">
        {{inserimento ? 'annulla' : 'inserisci recensione nuova'}}
    </button>
</p>

<div *ngIf="inserimento">
    <h2>nuova recensione</h2>
    <p>
        <input type="text" #codice>codice
    </p>
    <p>
        <input type="text" #autore>autore
    </p>
    <p>
        <input type="text" #testo>testo
    </p>
    <p>
        <input type="text" #punteggio>punteggio
    </p>
    <p>
        <button (click)="inserisci(codice,autore,testo,punteggio)">inserisci</button>
    </p>
</div>


<div *ngIf="recensioneAttiva">
    <h2>modifica recensione</h2>
    <p>
        <input type="text" #codice [value]="recensioneAttiva.codice">codice
    </p>
    <p>
        <input type="text" #autore [value]="recensioneAttiva.autore">autore
    </p>
    <p>
        <input type="text" #testo [value]="recensioneAttiva.testo">testo
    </p>
    <p>
        <input type="text" #punteggio [value]="recensioneAttiva.punteggio">punteggio
    </p>
    <p>
        <button (click)="conferma(codice,autore,testo,punteggio)">conferma</button>
        <button (click)="annulla()">annulla</button>
    </p>
</div>



<h2>elenco di recensioni (componente)</h2>
<app-recensione *ngFor="let r of recensioni" 
    [recensione]="r" (modify)="modifica($event)">
</app-recensione>
