<div class="container">
    <h2>Allineamento</h2>

    <h3 class="text-start">Sinistra</h3>
    <p class="text-start">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet cumque illo hic voluptatum, optio nemo
        voluptates aspernatur maiores, natus ea officiis suscipit at voluptatem, quas distinctio? Expedita beatae quasi
        eos!
    </p>

    <h3 class="text-center">Centrato</h3>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet cumque illo hic voluptatum, optio nemo
        voluptates aspernatur maiores, natus ea officiis suscipit at voluptatem, quas distinctio? Expedita beatae quasi
        eos!
    </p>

    <h3 class="text-end">Destra</h3>
    <p class="text-end">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet cumque illo hic voluptatum, optio nemo
        voluptates aspernatur maiores, natus ea officiis suscipit at voluptatem, quas distinctio? Expedita beatae quasi
        eos!
    </p>
</div>