<div class="container">
    <h2>Testi</h2>

    <p>Paragrafo normale</p>
    <p class="h3">Paragrafo con lo stile di una intestazione</p>
    <p class="display-1 text-center">Display 1</p>
    <p class="display-2">Display 2</p>
    <p class="display-4">Display 4</p>
    <p class="display-6">Display 6</p>

    <p>
        <span class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</span> Veritatis mollitia optio
        vitae laudantium, est temporibus perspiciatis consequuntur rem quibusdam distinctio minus maiores labore quos
        natus delectus impedit nostrum saepe dolor.
    </p>
</div>