<div class="container">
    <h2>Spaziature</h2>

    <h3>Padding</h3>
    <h4>Padding 1 (molto piccolo) sui 4 lati</h4>
    <p class="bg-warning p-1">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente nemo consequatur. Maiores ducimus eos
        similique labore beatae aperiam est, voluptas fuga laborum eligendi odio libero consequuntur dolorum ab aliquam?
    </p>
    <h4>Padding 3 (medio) sui 4 lati</h4>
    <p class="bg-warning p-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente nemo consequatur. Maiores ducimus eos
        similique labore beatae aperiam est, voluptas fuga laborum eligendi odio libero consequuntur dolorum ab aliquam?
    </p>
    <h4>Padding 5 (grande) in basso (bottom)</h4>
    <p class="bg-warning pb-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente nemo consequatur. Maiores ducimus eos
        similique labore beatae aperiam est, voluptas fuga laborum eligendi odio libero consequuntur dolorum ab aliquam?
    </p>
    <h4>Padding 5 (grande) a destra (end)</h4>
    <p class="bg-warning pe-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente nemo consequatur. Maiores ducimus eos
        similique labore beatae aperiam est, voluptas fuga laborum eligendi odio libero consequuntur dolorum ab aliquam?
    </p>
    <h4>Padding 5 (grande) di lato (x)</h4>
    <p class="bg-warning px-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente nemo consequatur. Maiores ducimus eos
        similique labore beatae aperiam est, voluptas fuga laborum eligendi odio libero consequuntur dolorum ab aliquam?
    </p>

    <h3>Margin</h3>
    <h4>Margine medio sui 4 lati</h4>
    <p>Paragrafo normale</p>
    <p class="bg-warning m-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente nemo consequatur. Maiores ducimus eos
        similique labore beatae aperiam est, voluptas fuga laborum eligendi odio libero consequuntur dolorum ab aliquam?
    </p>
    <p>Paragrafo normale</p>



</div>