<div class="container">
    <h2>Navbar</h2>

    <h3>Solo brand</h3>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand">Navbar</span>
        </div>
    </nav>

    <h3>Brand cliccabile</h3>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                Navbar
            </a>
        </div>
    </nav>

    <h3>Logo e testo</h3>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="assets/img/instagram.png" alt="" width="40">
                Navbar
            </a>
        </div>
    </nav>

    <h3>Con navigazione</h3>
    <nav class="navbar navbar-light bg-light navbar-expand">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <img src="assets/img/instagram.png" alt="" width="40">
                Navbar
            </a>
            <div class="navbar-nav">
                <a href="" class="nav-link">Home</a>
                <a href="" class="nav-link">Azienda</a>
                <a href="" class="nav-link">Prodotti</a>
                <a href="" class="nav-link">Contatti</a>
            </div>
        </div>
    </nav>

    <h3>Con navigazione collassabile</h3>
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Navbar</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navigazione">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navigazione">
                <div class="navbar-nav">
                    <a href="" class="nav-link">Home</a>
                    <a href="" class="nav-link">Azienda</a>
                    <a href="" class="nav-link">Prodotti</a>
                    <a href="" class="nav-link">Contatti</a>
                </div>
            </div>
        </div>
    </nav>

</div>