<div class="container">
    <h2>Disposizione elementi</h2>
    <h3>Allineamento orizzontale</h3>
    <h4>A sinistra (start)</h4>
    <div class="row bg-dark p-3 justify-content-start">
        <p class="col-6 text-light">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
    </div>

    <h4>Al centro (center)</h4>
    <div class="row bg-dark p-3 justify-content-center">
        <p class="col-6 text-light">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
    </div>

    <h4>A destra (end)</h4>
    <div class="row bg-dark p-3 justify-content-end">
        <p class="col-6 text-light">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
    </div>

    <h3>Allineamento verticale</h3>
    <h4>In alto (start)</h4>
    <div class="row bg-dark p-3 altezza-200 mb-5 align-items-start">
        <p class="col text-light">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
    </div>

    <h4>Al centro (center)</h4>
    <div class="row bg-dark p-3 altezza-200 mb-5 align-items-center">
        <p class="col text-light">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
    </div>

    <h4>In basso (end)</h4>
    <div class="row bg-dark p-3 altezza-200 mb-5 align-items-end">
        <p class="col text-light">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
    </div>
</div>