<div class="container">
    <h2>Colori</h2>

    <h2 class="bg-primary">Colore primary</h2>
    <p class="text-primary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis sapiente rem ipsa esse? Asperiores
        veritatis eius voluptas cum totam, unde numquam magni, in excepturi et temporibus quam reiciendis commodi?
    </p>

    <h2 class="bg-secondary">Colore secondary</h2>
    <p class="text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis sapiente rem ipsa esse? Asperiores
        veritatis eius voluptas cum totam, unde numquam magni, in excepturi et temporibus quam reiciendis commodi?
    </p>

    <h2 class="bg-success">Colore success</h2>
    <p class="text-success">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis sapiente rem ipsa esse? Asperiores
        veritatis eius voluptas cum totam, unde numquam magni, in excepturi et temporibus quam reiciendis commodi?
    </p>

    <h2 class="bg-warning">Colore warning</h2>
    <p class="text-warning">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis sapiente rem ipsa esse? Asperiores
        veritatis eius voluptas cum totam, unde numquam magni, in excepturi et temporibus quam reiciendis commodi?
    </p>

    <h2 class="bg-danger">Colore danger</h2>
    <p class="text-danger">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis sapiente rem ipsa esse? Asperiores
        veritatis eius voluptas cum totam, unde numquam magni, in excepturi et temporibus quam reiciendis commodi?
    </p>

    <h2 class="bg-info">Colore info</h2>
    <p class="text-info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis sapiente rem ipsa esse? Asperiores
        veritatis eius voluptas cum totam, unde numquam magni, in excepturi et temporibus quam reiciendis commodi?
    </p>

    <h2 class="bg-dark text-light">Sfondo dark</h2>
    <p class="bg-dark text-light">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur debitis sapiente rem ipsa esse? Asperiores
        veritatis eius voluptas cum totam, unde numquam magni, in excepturi et temporibus quam reiciendis commodi?
    </p>
</div>