<div class="container">
    <h2>colonne</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium odio error delectus? Corporis, aliquam voluptas nisi velit est ullam quae, unde nam maxime quasi quisquam culpa magnam? Possimus, consequuntur praesentium!</p>
    <h3>colonne automatiche</h3>
    <div class="row">
        <!-- non serve specificare il -n nella col, lui lo capisce dal numero dei tag all'interno del row -->
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit, sint numquam necessitatibus, amet similique nisi, distinctio accusantium ipsa corporis quia ex! Quae laudantium iure magnam provident repellat sit quaerat.</p>
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit, sint numquam necessitatibus, amet similique nisi, distinctio accusantium ipsa corporis quia ex! Quae laudantium iure magnam provident repellat sit quaerat.</p>
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit, sint numquam necessitatibus, amet similique nisi, distinctio accusantium ipsa corporis quia ex! Quae laudantium iure magnam provident repellat sit quaerat.</p>
    </div>

    <div class="row">
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit, sint numquam necessitatibus, amet similique nisi, distinctio accusantium ipsa corporis quia ex! Quae laudantium iure magnam provident repellat sit quaerat.</p>
        <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit, sint numquam necessitatibus, amet similique nisi, distinctio accusantium ipsa corporis quia ex! Quae laudantium iure magnam provident repellat sit quaerat.</p>
    </div>


    <h3>colonne fisse</h3>
    <div class="row">
        <p class="col-8">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit, sint numquam necessitatibus, amet similique nisi, distinctio accusantium ipsa corporis quia ex! Quae laudantium iure magnam provident repellat sit quaerat.</p>
        <p class="col-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit, sint numquam necessitatibus, amet similique nisi, distinctio accusantium ipsa corporis quia ex! Quae laudantium iure magnam provident repellat sit quaerat.</p>
    </div>



    <h3>colonne responsive</h3>
    <div class="row">
        <p class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit, sint numquam necessitatibus, amet similique nisi, distinctio accusantium ipsa corporis quia ex! Quae laudantium iure magnam provident repellat sit quaerat.</p>
        <p class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid fugit, sint numquam necessitatibus, amet similique nisi, distinctio accusantium ipsa corporis quia ex! Quae laudantium iure magnam provident repellat sit quaerat.</p>
    </div>


</div>




